.keypad
  @include width-height(32.7rem,42rem)
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(5, 1fr)
  justify-items: center
  padding: 2.4rem
  margin-top: 2.4rem
  grid-column-gap: 1.2rem
  grid-row-gap: 1.8rem
  border-radius: 0.8rem
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

@include respond(desktop)
  .keypad
    @include width-height(54rem, 48rem)
